@model SAASystem.Models.View.UserViewModel.EditViewModel
@{
    ViewData["Title"] = "Edit";
    string controller = "User";
}
@section CSS {

    <link href="https://getbootstrap.com/docs/5.0/examples/features/features.css" rel="stylesheet">
}
<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Edit</h2>
    <div class="g-4 py-5">
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" form method="post" asp-controller="@controller" asp-action="Edit">
                    <div class="row g-3">
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.UserId" class="form-label"></label>
                            <input asp-for="Form.UserId" class="form-control" readonly>
                            <span asp-validation-for="Form.UserId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Username" class="form-label"></label>
                            <input asp-for="Form.Username" class="form-control">
                            <span asp-validation-for="Form.Username" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Password" class="form-label"></label>
                            <input asp-for="Form.Password" class="form-control">
                            <span asp-validation-for="Form.Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Email" class="form-label"></label>
                            <input asp-for="Form.Email" class="form-control">
                            <span asp-validation-for="Form.Email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.PhoneNo" class="form-label"></label>
                            <input asp-for="Form.PhoneNo" class="form-control">
                            <span asp-validation-for="Form.PhoneNo" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Address" class="form-label"></label>
                            <input asp-for="Form.Address" class="form-control">
                            <span asp-validation-for="Form.Address" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Surname" class="form-label"></label>
                            <input asp-for="Form.Surname" class="form-control">
                            <span asp-validation-for="Form.Surname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.GivenName" class="form-label"></label>
                            <input asp-for="Form.GivenName" class="form-control">
                            <span asp-validation-for="Form.GivenName" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <a asp-controller="@controller" asp-action="List" class="w-100 btn btn-secondary btn-lg">Back</a>
                        </div>
                        <div class="col-sm-6">
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>