@model SAASystem.Models.View.ContractViewModel.EditViewModel
@{
    ViewData["Title"] = "Edit";
}
@section CSS {

    <link href="https://getbootstrap.com/docs/5.0/examples/features/features.css" rel="stylesheet">
}
<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Edit</h2>
    <div class="g-4 py-5">
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" form method="post" asp-controller="Contract" asp-action="Edit">
                    <div class="row g-3">
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.ContractId" class="form-label"></label>
                            <input asp-for="Form.ContractId" class="form-control" readonly>
                            <span asp-validation-for="Form.ContractId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.RoomId" class="form-label"></label>
                            <select asp-for="Form.RoomId" asp-items="@Model.RoomEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.RoomId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.UserId" class="form-label"></label>
                            <select asp-for="Form.UserId" asp-items="@Model.UserEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.UserId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DateTimeContractFrom" class="form-label"></label>
                            <input asp-for="Form.DateTimeContractFrom" type="date" class="form-control">
                            <span asp-validation-for="Form.DateTimeContractFrom" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DateTimeContractTo" class="form-label"></label>
                            <input asp-for="Form.DateTimeContractTo" type="date" class="form-control">
                            <span asp-validation-for="Form.DateTimeContractTo" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DepositAmount" class="form-label"></label>
                            <input asp-for="Form.DepositAmount" class="form-control">
                            <span asp-validation-for="Form.DepositAmount" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.PayedAmount" class="form-label"></label>
                            <input asp-for="Form.PayedAmount" class="form-control">
                            <span asp-validation-for="Form.PayedAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <a asp-controller="Contract" asp-action="List" class="w-100 btn btn-secondary btn-sm">Back</a>
                        </div>
                        <div class="col-sm-6">
                            <button class="w-100 btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>