@using System.Reflection;
@model SAASystem.Models.View.ContractViewModel.ShowViewModel;
@{
    ViewData["Title"] = "Show";
}
@section CSS {

    <link href="https://getbootstrap.com/docs/5.0/examples/features/features.css" rel="stylesheet">
}
<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Show</h2>
    <div class="g-4 py-5">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            @{
                foreach (PropertyInfo propertyInfo in Model.Form.GetType().GetProperties())
                {
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="fs-5">@propertyInfo.Name</div>
                            <div class="fs-2">@propertyInfo.GetValue(Model.Form, null)</div>
                        </div>
                    </div>
                }
            }

        </div>
        <hr class="my-4">
        <div class="row g-3">
            <div class="col-sm-6">
                <a asp-controller="Contract" asp-action="List" class="w-100 btn btn-secondary btn-sm">Back</a>
            </div>
        </div>
    </div>
</div>
