@model SAASystem.Models.View.HomeViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="px-4 py-5">
    <main class="form-signin w-50 m-auto">
        <form form method="post" class="needs-validation" asp-controller="Home" asp-action="Login">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
</div>
