<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASystem</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    @RenderSection("CSS", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link text-muted">Home</a></li>
            <li class="nav-item"><a href="https://github.com/gayanvoice/SAASystem" class="nav-link text-muted">GitHub</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 SAASystem, University of Derby</p>
    </footer>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @RenderSection("Js", required: false)
</body>
</html>
